<a href="https://colab.research.google.com/github/PalmerTurley34/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Module_2_Assignment_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd
import numpy as np

In [0]:
house_df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [0]:
pd.set_option('display.max_rows', 100)
house_df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [0]:
house_df['BedroomAbvGr'].head(10)

0    3
1    3
2    3
3    3
4    4
5    1
6    3
7    3
8    2
9    2
Name: BedroomAbvGr, dtype: int64

In [0]:
house_df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [0]:
house_df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [0]:
small_df = house_df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [0]:
small_df['TotalSquareFootage'] = small_df['TotalBsmtSF'] + small_df['1stFlrSF'] + small_df['2ndFlrSF']
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage
0          856       856       854     208500                2566
1         1262      1262         0     181500                2524
2          920       920       866     223500                2706
3          756       961       756     140000                2473
4         1145      1145      1053     250000                3343

In [0]:
small_df['PricePerSqFt'] = small_df['SalePrice'] / small_df['TotalSquareFootage']
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage  PricePerSqFt
0          856       856       854     208500                2566     81.254871
1         1262      1262         0     181500                2524     71.909667
2          920       920       866     223500                2706     82.594235
3          756       961       756     140000                2473     56.611403
4         1145      1145      1053     250000                3343     74.783129

In [0]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-19 18:26:07--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.72M   885KB/s    in 25s

2020-01-19 18:26:33 (873 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [0]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
pd.set_option('display.max_rows', 200)
df.isnull().sum()

id                                            128397
member_id                                     128397
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      20942
emp_length                                     11701
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           128397
desc                                          128397
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              237
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         72190
mths_since_last_record                        112950
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                       156
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                     159
last_pymnt_amnt                                    0
next_pymnt_d                                   26736
last_credit_pull_d                                 1
collections_12_mths_ex_med                         0
mths_since_last_major_derog                    99223
policy_code                                        0
application_type                                   0
annual_inc_joint                              111619
dti_joint                                     111619
verification_status_joint                     113553
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
mths_since_rcnt_il                              4478
total_bal_il                                       0
il_util                                        20274
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
all_util                                          37
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
avg_cur_bal                                       13
bc_open_to_buy                                  1691
bc_util                                         1754
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                              4478
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            1591
mths_since_recent_bc_dlq                      103232
mths_since_recent_inq                          16047
mths_since_recent_revol_delinq                 91620
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                                2859
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                1692
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                               111619
sec_app_earliest_cr_line                      111619
sec_app_inq_last_6mths                        111619
sec_app_mort_acc                              111619
sec_app_open_acc                              111619
sec_app_revol_util                            111877
sec_app_open_act_il                           111619
sec_app_num_rev_accts                         111619
sec_app_chargeoff_within_12_mths              111619
sec_app_collections_12_mths_ex_med            111619
sec_app_mths_since_last_major_derog           123245
hardship_flag                                      0
hardship_type                                 128164
hardship_reason                               128164
hardship_status                               128164
deferral_term                                 128164
hardship_amount                               128164
hardship_start_date                           128164
hardship_end_date                             128164
payment_plan_start_date                       128164
hardship_length                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
orig_projected_additional_accrued_interest    128191
hardship_payoff_balance_amount                128164
hardship_last_payment_amount                  128164
debt_settlement_flag                               0
debt_settlement_flag_date                     127946
settlement_status                             127946
settlement_date                               127946
settlement_amount                             127946
settlement_percentage                         127946
settlement_term                               127946
dtype: int64

In [0]:
df.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11701
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20942
next_pymnt_d                                   26736
mths_since_last_delinq                         72190
mths_since_recent_revol_delinq                 91620
mths_since_last_major_derog                    99223
mths_since_recent_bc_dlq                      103232
sec_app_open_acc                              111619
sec_app_mort_acc                              111619
sec_app_inq_last_6mths                        111619
sec_app_earliest_cr_line                      111619
revol_bal_joint                               111619
sec_app_open_act_il                           111619
annual_inc_joint                              111619
dti_joint                                     111619
sec_app_collections_12_mths_ex_med            111619
sec_app_chargeoff_within_12_mths              111619
sec_app_num_rev_accts                         111619
sec_app_revol_util                            111877
mths_since_last_record                        112950
verification_status_joint                     113553
sec_app_mths_since_last_major_derog           123245
debt_settlement_flag_date                     127946
settlement_date                               127946
settlement_amount                             127946
settlement_status                             127946
settlement_term                               127946
settlement_percentage                         127946
hardship_status                               128164
deferral_term                                 128164
hardship_amount                               128164
hardship_start_date                           128164
hardship_end_date                             128164
payment_plan_start_date                       128164
hardship_length                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
hardship_reason                               128164
hardship_payoff_balance_amount                128164
hardship_last_payment_amount                  128164
hardship_type                                 128164
orig_projected_additional_accrued_interest    128191
url                                           128397
member_id                                     128397
desc                                          128397
id                                            128397
dtype: int64

In [0]:
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1).copy()

In [0]:
df['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [0]:
df['int_rate'][3]

' 12.98%'

In [0]:
int_rate = ' 12.98%'

In [0]:
int_rate.strip().strip('%')

'12.98'

In [0]:
float(int_rate.strip().strip('%'))

12.98

In [0]:
def myfunc(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [0]:
myfunc(int_rate)

12.98

In [0]:
new_list = []

In [0]:
for cell in df['int_rate']:
  new_list.append(myfunc(cell))

In [0]:
new_list[:10]

[14.47, 10.33, 15.02, 12.98, 16.14, 12.98, 15.02, 16.14, 14.47, 13.56]

In [0]:
small_df['int_rate_cleaned'] = pd.Series(new_list)
small_df.head()

   TotalBsmtSF  1stFlrSF  ...  PricePerSqFt  int_rate_cleaned
0          856       856  ...     81.254871             14.47
1         1262      1262  ...     71.909667             10.33
2          920       920  ...     82.594235             15.02
3          756       961  ...     56.611403             12.98
4         1145      1145  ...     74.783129             16.14

[5 rows x 7 columns]

In [0]:
small_df['int_rate_cleaned'].dtypes

dtype('float64')

In [0]:
small_df['int_rate_cleaned2'] = df['int_rate'].apply(myfunc)
small_df.head()

   TotalBsmtSF  1stFlrSF  ...  int_rate_cleaned  int_rate_cleaned2
0          856       856  ...             14.47              14.47
1         1262      1262  ...             10.33              10.33
2          920       920  ...             15.02              15.02
3          756       961  ...             12.98              12.98
4         1145      1145  ...             16.14              16.14

[5 rows x 8 columns]

In [0]:
df['emp_title'].value_counts(dropna=False)[:20]

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [0]:
len(df['emp_title'].unique())

43890

In [0]:
df['emp_title'].isnull().sum()

20942

In [0]:
examples = ['owner', 'Supervisor', ' Project Manager', np.nan]

In [0]:
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return 'Unknown'

In [0]:
for title in examples:
  print(clean_title(title))

Owner
Supervisor
Project Manager
Unknown

In [0]:
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
df['emp_title']=df['emp_title'].apply(clean_title)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
df['emp_title'].value_counts(ascending=False)[:20]

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
len(df['emp_title'].unique())

34899

In [0]:
for col in df.columns:
  if col.endswith('_d'):
    print(col)

issue_d
last_pymnt_d
next_pymnt_d
last_credit_pull_d

In [0]:
mycols = [col for col in df.columns if col.endswith('_d')]

In [0]:
df['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df[mycols].head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d
0 2018-12-01     Apr-2019          NaN           Nov-2019
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019
2 2018-12-01     Feb-2019          NaN           Nov-2019
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019

In [0]:
df['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [0]:
df['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [0]:
df1=df[mycols].copy()
df1['year'] = df['issue_d'].dt.year
df1.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year
0 2018-12-01     Apr-2019          NaN           Nov-2019  2018
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018
2 2018-12-01     Feb-2019          NaN           Nov-2019  2018
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019  2018
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018

In [0]:
df1['month']=df1['issue_d'].dt.month
df1.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year  month
0 2018-12-01     Apr-2019          NaN           Nov-2019  2018     12
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018     12
2 2018-12-01     Feb-2019          NaN           Nov-2019  2018     12
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019  2018     12
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018     12

In [0]:
df1.dtypes

issue_d               datetime64[ns]
last_pymnt_d                  object
next_pymnt_d                  object
last_credit_pull_d            object
year                           int64
month                          int64
dtype: object

In [0]:
df1['last_credit_pull_d']=pd.to_datetime(df1['last_credit_pull_d'], infer_datetime_format=True)
df1.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year  month
0 2018-12-01     Apr-2019          NaN         2019-11-01  2018     12
1 2018-12-01     Dec-2019     Jan-2020         2019-11-01  2018     12
2 2018-12-01     Feb-2019          NaN         2019-11-01  2018     12
3 2018-12-01     Dec-2019     Jan-2020         2019-12-01  2018     12
4 2018-12-01     Dec-2019     Jan-2020         2019-11-01  2018     12

In [0]:
df1['issue_d'] - df1['last_credit_pull_d']

0        -335 days
1        -335 days
2        -335 days
3        -365 days
4        -335 days
            ...
128392    -31 days
128393   -396 days
128394   -396 days
128395   -396 days
128396   -396 days
Length: 128397, dtype: timedelta64[ns]

In [0]:
df1['day_diff']= (df1['last_credit_pull_d']-df['issue_d']).dt.days
df1.head()

     issue_d last_pymnt_d next_pymnt_d  ...  year  month  day_diff
0 2018-12-01     Apr-2019          NaN  ...  2018     12     335.0
1 2018-12-01     Dec-2019     Jan-2020  ...  2018     12     335.0
2 2018-12-01     Feb-2019          NaN  ...  2018     12     335.0
3 2018-12-01     Dec-2019     Jan-2020  ...  2018     12     365.0
4 2018-12-01     Dec-2019     Jan-2020  ...  2018     12     335.0

[5 rows x 7 columns]

In [0]:
df['term'].value_counts()

 36 months    88171
 60 months    40226
Name: term, dtype: int64

In [0]:
df['term'][3]

' 36 months'

In [0]:
df['term'][1200]

' 60 months'

In [0]:
mylist = ' 36 months'

In [0]:
# changes items in the 'term column to an integer
def myfunc(cell_contents):
  return int(cell_contents.strip().strip(' months'))

In [0]:
df['term'] = df['term'].apply(myfunc)

In [0]:
df['term'].head()

0    36
1    36
2    36
3    36
4    60
Name: term, dtype: int64

In [0]:
df['loan_status'].value_counts(dropna=False)

Current               97694
Fully Paid            21476
Charged Off            5260
Late (31-120 days)     2656
In Grace Period         784
Late (16-30 days)       524
Default                   3
Name: loan_status, dtype: int64

In [0]:
# These next few cells are testing a function to change loan status to 1 or 0
test_list = ['Current', 'Fully Paid', 'Charged Off', 'In Grace Period']

In [0]:
def my_func(loanstatus):
  if (loanstatus == 'Current') or (loanstatus == 'Fully Paid'):
    return 1
  else:
    return 0

In [0]:
[my_func(status) for status in test_list]

[1, 1, 0, 0]

In [0]:
df['loan_status_is_great']= df['loan_status'].apply(my_func)
df[['loan_status', 'loan_status_is_great']].head(10)

   loan_status  loan_status_is_great
0  Charged Off                     0
1      Current                     1
2   Fully Paid                     1
3      Current                     1
4      Current                     1
5      Current                     1
6      Current                     1
7      Current                     1
8      Current                     1
9      Current                     1

In [0]:
df['last_pymnt_d']=pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d'].head()

0   2019-04-01
1   2019-12-01
2   2019-02-01
3   2019-12-01
4   2019-12-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d_month']=(df['last_pymnt_d']).dt.month

In [0]:
df['last_pymnt_d_year']=(df['last_pymnt_d']).dt.year

In [0]:
df[['last_pymnt_d_month', 'last_pymnt_d_year']].head()

   last_pymnt_d_month  last_pymnt_d_year
0                 4.0             2019.0
1                12.0             2019.0
2                 2.0             2019.0
3                12.0             2019.0
4                12.0             2019.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:

df['revol_util'].value_counts(dropna=False)

0%        1132
43%        225
49%        222
39.1%      220
32%        217
32.9%      216
28%        214
37.5%      213
44%        212
33.8%      211
51%        211
33%        211
29%        210
38%        210
34%        210
33.3%      208
47%        208
39%        205
45%        203
25%        203
41%        203
37.3%      203
59%        201
33.9%      201
42%        201
26%        200
34.1%      200
31.8%      200
30.3%      199
36%        199
48%        198
25.3%      198
46%        197
37%        197
36.3%      196
28.7%      196
40%        196
36.7%      196
39.5%      196
39.2%      195
36.6%      195
27.2%      195
52%        194
30%        194
39.8%      194
23.8%      193
38.1%      193
39.4%      193
33.5%      193
32.2%      193
36.8%      192
41.6%      192
34.9%      192
26.6%      192
35.1%      192
27.8%      192
29.1%      192
40.7%      192
37.7%      191
36.5%      191
61%        191
23%        191
33.1%      190
28.1%      190
50%        190
32.1%      190
37.9%      190
34.8%      190
55%        190
43.5%      190
43.9%      189
28.5%      189
37.1%      189
38.9%      189
28.2%      189
57%        189
46.1%      188
49.2%      188
45.8%      188
43.6%      187
40.6%      187
28.4%      187
31.2%      187
45.7%      187
25.4%      187
54%        186
41.7%      186
44.4%      186
20%        186
32.7%      186
35.5%      186
49.5%      186
49.1%      185
22.8%      185
43.2%      185
29.3%      185
42.5%      185
38.4%      185
36.9%      185
41.2%      185
29.6%      184
53%        184
34.6%      184
38.5%      184
35.3%      184
35%        184
35.6%      184
24.8%      184
26.3%      184
37.8%      184
37.6%      184
44.1%      183
42.9%      183
27.9%      183
24%        183
46.8%      182
53.5%      182
21.8%      182
40.9%      182
28.6%      182
39.3%      182
24.5%      182
25.8%      181
33.6%      181
30.1%      181
24.4%      181
34.5%      181
26.1%      181
25.1%      181
45.3%      181
32.4%      181
24.2%      180
56.3%      180
24.7%      180
29.2%      179
23.2%      179
23.9%      179
43.4%      179
34.2%      179
43.3%      179
22.1%      179
38.6%      179
38.7%      179
65%        179
46.6%      178
32.8%      178
35.7%      178
31%        178
24.6%      178
25.6%      178
27.4%      178
45.1%      177
29.5%      177
32.3%      177
36.4%      177
44.9%      177
34.4%      177
30.9%      177
41.9%      177
41.5%      177
41.1%      176
31.9%      176
23.3%      176
31.5%      176
46.5%      176
48.8%      176
63%        176
21.9%      176
36.2%      176
35.2%      176
42.7%      176
38.3%      175
47.3%      175
41.3%      175
62%        175
27%        175
38.2%      175
40.3%      175
60%        175
23.6%      175
33.2%      175
45.4%      175
56%        175
48.1%      175
30.4%      175
67%        175
23.1%      174
21.1%      174
44.5%      174
43.8%      174
41.4%      174
47.8%      174
27.1%      174
30.8%      174
29.7%      174
27.3%      174
35.8%      173
48.4%      173
19.4%      173
34.3%      173
25.5%      173
44.6%      173
63.5%      173
16.6%      173
23.7%      173
46.9%      173
44.3%      173
31.3%      172
27.7%      172
31.7%      172
48.6%      172
35.4%      172
64%        171
36.1%      171
40.2%      171
47.2%      171
17.7%      171
55.4%      171
30.6%      171
42.1%      171
32.5%      171
33.4%      171
45.9%      171
32.6%      171
37.4%      170
50.3%      170
21.5%      170
21.2%      170
58%        169
26.4%      169
44.8%      169
22.5%      169
19.9%      168
18.8%      168
21.4%      168
33.7%      168
20.7%      168
30.2%      168
26.7%      168
57.1%      168
22.6%      168
34.7%      167
24.9%      167
22%        167
52.5%      167
44.7%      167
48.2%      167
28.9%      167
42.2%      167
26.8%      167
27.6%      167
24.1%      166
40.8%      166
43.7%      166
17%        166
39.6%      166
30.7%      166
56.2%      166
25.2%      166
40.1%      166
69%        165
19.2%      165
16.8%      165
18.9%      165
39.9%      165
23.4%      165
53.8%      165
49.4%      164
50.9%      164
21.6%      164
24.3%      164
57.3%      164
29.9%      164
71%        164
31.6%      164
43.1%      164
49.6%      163
37.2%      163
35.9%      163
38.8%      163
51.5%      163
19.5%      163
47.7%      163
39.7%      163
50.8%      163
54.1%      163
28.3%      163
45.5%      163
18.3%      163
52.3%      162
47.4%      162
29.8%      162
26.2%      162
42.6%      162
54.5%      162
52.9%      162
47.9%      162
49.9%      162
41.8%      162
46.7%      161
78%        161
17.5%      161
45.6%      161
52.2%      161
26.5%      160
18.5%      160
30.5%      160
22.3%      160
51.8%      160
51.4%      160
25.9%      160
56.1%      160
46.3%      159
50.4%      159
58.5%      159
15.9%      159
56.5%      159
15%        159
52.1%      159
45.2%      159
20.8%      158
48.5%      158
50.7%      158
29.4%      158
52.6%      158
53.9%      158
59.4%      158
68%        158
42.8%      158
19%        158
46.2%      158
66%        157
22.9%      157
47.6%      157
51.3%      157
31.1%      157
19.7%      157
49.8%      157
53.6%      157
51.2%      157
57.7%      157
54.3%      156
NaN        156
44.2%      156
26.9%      156
21%        156
56.9%      156
20.4%      155
77%        155
51.6%      155
19.6%      155
57.5%      155
18%        155
51.9%      155
21.3%      154
22.2%      154
73%        154
42.4%      154
56.8%      154
27.5%      154
20.6%      154
40.5%      153
63.1%      153
48.3%      153
59.7%      153
55.7%      153
58.1%      153
49.7%      152
25.7%      152
18.4%      152
60.6%      152
18.7%      152
54.4%      152
14.4%      151
28.8%      151
19.8%      151
16.3%      151
14.8%      151
15.3%      151
15.7%      151
47.1%      151
53.3%      151
55.9%      151
50.6%      150
47.5%      150
53.7%      150
13.5%      150
57.2%      150
52.8%      150
16%        150
13.6%      150
75%        150
15.6%      150
53.1%      150
59.3%      150
40.4%      149
49.3%      149
55.8%      149
48.9%      149
20.5%      148
61.7%      148
50.1%      148
54.9%      148
56.6%      148
76%        148
61.9%      148
52.4%      148
42.3%      148
51.7%      148
57.6%      147
20.1%      147
23.5%      147
54.2%      147
20.9%      147
72%        147
19.1%      147
18.1%      146
59.8%      146
22.4%      146
70%        146
55.2%      146
62.2%      146
16.9%      146
31.4%      145
46.4%      145
55.5%      145
53.2%      145
13.3%      145
48.7%      145
52.7%      145
57.8%      145
19.3%      144
62.7%      144
50.5%      144
58.7%      144
14.3%      144
11.9%      144
16.5%      144
13.8%      143
13.9%      143
80%        143
20.3%      143
17.8%      143
61.6%      143
61.3%      143
13.7%      143
17.6%      142
15.8%      142
54.7%      142
66.6%      142
64.8%      142
60.9%      142
17.4%      142
64.1%      141
10.4%      141
57.9%      141
12.3%      141
58.4%      141
63.7%      141
67.5%      140
18.2%      140
55.3%      140
10%        140
60.3%      140
68.6%      140
21.7%      140
14%        140
16.4%      140
22.7%      139
17.2%      139
56.7%      139
63.6%      139
60.2%      139
20.2%      139
60.5%      139
51.1%      138
12%        138
55.1%      138
16.1%      138
16.2%      138
53.4%      138
50.2%      138
64.5%      138
15.1%      137
13.1%      137
58.8%      136
74%        136
65.1%      136
79%        136
63.8%      136
81%        136
54.6%      136
17.3%      136
59.1%      135
56.4%      135
60.7%      135
62.5%      134
11%        134
66.1%      134
11.7%      134
55.6%      134
59.6%      134
18.6%      133
13%        133
66.5%      132
17.1%      132
59.5%      131
12.7%      131
54.8%      131
14.9%      131
12.9%      131
14.5%      131
57.4%      131
62.3%      131
14.7%      130
69.2%      130
60.8%      130
66.7%      130
0.1%       130
14.6%      130
58.6%      129
11.3%      129
15.2%      129
16.7%      129
62.1%      128
60.1%      128
62.6%      128
9.2%       128
10.3%      128
65.2%      128
17.9%      128
12.5%      127
68.4%      127
15.4%      127
11.5%      127
61.4%      127
11.4%      126
85%        125
62.4%      125
59.2%      124
7.5%       124
10.8%      124
69.8%      124
61.1%      124
10.7%      124
9%         124
7.4%       124
61.2%      124
58.9%      123
0.2%       123
58.3%      123
59.9%      123
63.9%      123
69.6%      122
68.3%      122
14.2%      122
68.9%      122
65.6%      122
64.2%      121
66.4%      121
64.6%      121
11.6%      121
63.2%      121
66.2%      121
67.6%      121
67.1%      121
64.3%      121
60.4%      120
12.4%      120
65.8%      120
61.5%      120
83%        120
69.5%      120
10.5%      119
8%         119
9.3%       119
63.4%      119
68.7%      119
67.9%      119
12.8%      118
13.2%      118
58.2%      118
68.8%      118
12.2%      118
9.7%       118
74.8%      118
61.8%      117
10.9%      117
66.8%      117
12.6%      117
89%        117
72.4%      117
9.4%       117
10.2%      117
67.4%      116
70.5%      116
69.1%      116
11.2%      116
67.3%      115
11.8%      115
70.1%      115
8.9%       115
75.3%      115
7.6%       114
15.5%      114
86%        114
63.3%      114
0.3%       114
64.9%      113
8.7%       113
6.7%       113
65.3%      113
62.8%      113
91%        112
9.8%       112
64.4%      112
70.4%      112
74.4%      112
65.7%      111
9.9%       111
73.9%      110
8.3%       110
71.4%      110
65.4%      110
72.2%      110
69.4%      110
69.9%      110
71.5%      110
72.5%      110
8.8%       110
72.6%      109
84%        109
70.6%      109
11.1%      109
74.5%      109
64.7%      109
4%         109
6.5%       108
71.3%      108
13.4%      108
72.3%      108
10.6%      108
10.1%      108
7%         108
68.2%      108
66.9%      108
9.5%       107
7.8%       107
9.6%       107
72.8%      107
72.9%      107
67.7%      106
7.9%       106
7.7%       106
12.1%      105
4.8%       105
5.8%       105
78.3%      105
62.9%      105
73.5%      105
14.1%      104
65.5%      104
72.1%      104
9.1%       104
70.7%      103
92%        103
69.3%      103
65.9%      103
68.1%      103
72.7%      102
71.6%      102
77.4%      102
73.8%      102
6.3%       102
68.5%      102
90%        101
78.6%      101
77.7%      101
67.8%      101
73.4%      101
70.9%      101
75.4%      101
76.6%      101
82%        100
8.5%       100
75.1%      100
75.8%      100
70.3%       99
67.2%       99
71.8%       99
80.6%       99
76.1%       99
6.8%        99
70.8%       99
73.1%       99
73.7%       99
74.6%       98
0.6%        98
69.7%       98
7.3%        98
66.3%       98
4.5%        97
74.1%       97
0.4%        97
5.3%        97
77.9%       96
6%          96
74.2%       96
5.4%        95
75.2%       95
77.1%       95
5.5%        95
6.6%        93
8.2%        93
2.3%        93
87%         93
8.6%        93
80.9%       93
3.6%        93
8.1%        93
70.2%       93
94%         92
78.5%       92
77.3%       92
4.7%        92
71.2%       92
2.7%        92
76.5%       92
7.2%        92
77.6%       92
78.1%       92
71.9%       92
82.1%       92
75.5%       92
8.4%        91
76.7%       91
71.1%       91
3.7%        91
98%         91
82.4%       91
77.5%       91
73.6%       90
80.8%       90
73.3%       90
73.2%       90
5.9%        90
81.4%       90
0.5%        90
75.9%       90
5%          90
76.4%       90
76.2%       90
71.7%       90
79.4%       89
79.7%       89
4.6%        89
79.5%       89
79.1%       89
3.9%        89
78.7%       88
1.5%        88
80.2%       88
79.2%       87
4.2%        87
5.7%        87
86.3%       87
4.9%        87
74.7%       86
81.2%       86
5.6%        86
3.3%        86
76.9%       86
6.9%        86
78.2%       86
93%         86
83.1%       85
3%          85
78.4%       85
83.9%       85
2.9%        85
3.5%        85
5.2%        84
81.9%       84
6.2%        84
5.1%        84
88%         84
77.8%       83
1.3%        83
2.5%        83
75.6%       83
74.9%       82
4.1%        82
83.2%       82
81.6%       82
74.3%       82
2.1%        81
78.9%       81
76.8%       81
4.3%        81
79.9%       81
75.7%       81
81.8%       81
80.3%       80
85.3%       80
83.7%       80
84.9%       80
80.5%       80
81.7%       79
83.6%       79
1%          79
0.9%        79
7.1%        79
79.8%       79
76.3%       79
79.3%       78
6.4%        77
3.2%        77
2.8%        77
97%         77
0.8%        77
95%         77
3.8%        76
96%         76
83.5%       76
80.4%       76
82.9%       76
79.6%       76
84.3%       76
80.7%       76
81.1%       75
84.6%       75
4.4%        75
82.3%       75
2.4%        75
78.8%       75
1.6%        75
86.1%       75
1.4%        75
81.3%       74
80.1%       74
1.8%        74
6.1%        74
87.7%       74
77.2%       74
82.2%       73
1.1%        73
82.7%       73
85.1%       73
83.8%       71
1.7%        71
3.4%        71
3.1%        70
82.8%       70
2.2%        70
82.5%       70
83.3%       70
84.4%       70
88.8%       70
89.2%       69
1.9%        69
85.5%       69
84.8%       68
2%          68
2.6%        67
87.9%       67
84.5%       67
87.3%       67
85.7%       67
89.3%       67
90.9%       66
85.4%       65
88.6%       65
86.6%       64
88.7%       64
86.5%       64
87.2%       64
86.2%       63
84.2%       63
85.6%       63
87.5%       63
85.8%       62
87.1%       62
1.2%        61
88.3%       61
0.7%        61
91.6%       61
89.9%       61
91.1%       61
85.2%       61
89.8%       60
81.5%       60
88.1%       59
84.1%       59
86.9%       59
93.4%       58
98.9%       58
83.4%       57
84.7%       57
99%         57
90.5%       57
97.7%       57
85.9%       56
89.6%       56
82.6%       56
91.3%       56
88.9%       56
95.6%       56
94.8%       55
94.6%       55
92.5%       55
92.1%       55
93.6%       55
86.4%       54
90.8%       54
96.3%       54
96.7%       54
90.2%       53
91.4%       53
86.7%       53
88.2%       52
90.6%       52
88.5%       52
93.7%       52
95.8%       52
87.8%       51
86.8%       51
91.5%       51
94.2%       51
90.1%       51
92.3%       51
96.4%       51
95.1%       51
87.6%       51
87.4%       50
93.3%       50
97.5%       50
98.2%       50
98.1%       50
91.9%       50
93.1%       49
97.6%       49
93.2%       49
95.2%       49
91.2%       49
92.6%       49
92.7%       48
90.7%       48
94.9%       47
88.4%       47
95.4%       47
97.4%       47
89.1%       47
96.2%       46
94.1%       46
93.9%       46
95.9%       45
92.2%       45
93.8%       45
94.4%       44
96.1%       44
96.5%       44
94.7%       43
92.9%       43
97.9%       43
96.6%       42
98.5%       42
91.7%       42
92.8%       42
89.5%       42
89.7%       41
91.8%       41
97.8%       41
98.8%       41
95.7%       41
98.3%       41
94.5%       40
93.5%       40
94.3%       40
90.4%       39
99.1%       39
98.4%       39
97.3%       39
90.3%       38
95.5%       37
100%        37
89.4%       36
96.9%       36
95.3%       35
96.8%       35
92.4%       34
98.6%       33
99.4%       33
99.3%       31
97.2%       30
97.1%       30
99.9%       28
99.7%       26
101%        25
99.2%       25
99.8%       25
99.6%       24
100.2%      22
98.7%       22
99.5%       21
100.1%      17
100.5%      13
100.8%      12
101.1%      12
100.4%      12
100.7%      11
100.3%      10
101.3%      10
100.6%       9
100.9%       8
101.4%       6
101.5%       6
102.6%       5
101.2%       5
103.4%       5
102%         5
101.6%       3
101.8%       3
101.7%       2
102.7%       2
106.6%       2
109.8%       2
103.1%       2
103.8%       2
106.4%       2
102.9%       2
102.2%       2
116%         2
102.3%       2
104.6%       2
146.3%       1
108.1%       1
113.2%       1
104.4%       1
105.7%       1
103.7%       1
106.3%       1
105.3%       1
102.4%       1
108.8%       1
115.9%       1
103%         1
105.4%       1
110.9%       1
183.8%       1
109.1%       1
103.9%       1
125.7%       1
110.3%       1
108.6%       1
108.5%       1
113.3%       1
107.1%       1
105.6%       1
101.9%       1
103.6%       1
107.6%       1
105.8%       1
138.5%       1
116.3%       1
121%         1
123.8%       1
102.1%       1
108.7%       1
132.6%       1
111.9%       1
103.3%       1
105.5%       1
104%         1
111.3%       1
117%         1
Name: revol_util, dtype: int64

In [0]:
df['revol_util'].isnull().sum()

156

In [0]:
df['revol_util'][4]

'38.2%'

In [0]:
# testing code
test_data = ['0%', '111.9%', np.nan]

In [0]:
def str_to_float(percentage):
  if isinstance(percentage, str):
    return float(percentage.strip('%'))
  else:
    return "Unknown"

In [0]:
[str_to_float(data) for data in test_data]

[0.0, 111.9, 'Unknown']

In [0]:
# apply code to data frame
df['revol_util_cleaned']=df['revol_util'].apply(str_to_float)

In [0]:
df[['revol_util', 'revol_util_cleaned']].head(10)

  revol_util revol_util_cleaned
0      91.2%               91.2
1      27.7%               27.7
2        48%                 48
3      33.3%               33.3
4      38.2%               38.2
5       9.4%                9.4
6      64.8%               64.8
7      48.5%               48.5
8        21%                 21
9      31.8%               31.8

In [0]:
df['emp_title'].value_counts().sort_values(ascending=False)[:21]

Unknown                     20942
Teacher                      2557
Manager                      2395
Registered Nurse             1417
Driver                       1258
Supervisor                   1160
Truck Driver                  920
Rn                            834
Office Manager                804
Sales                         803
General Manager               791
Project Manager               720
Owner                         625
Director                      523
Operations Manager            518
Sales Manager                 500
Police Officer                440
Nurse                         424
Technician                    420
Engineer                      412
Administrative Assistant      409
Name: emp_title, dtype: int64

In [0]:
emp_title_list = df['emp_title'].value_counts()[1:21].index.tolist()
emp_title_list

['Teacher',
 'Manager',
 'Registered Nurse',
 'Driver',
 'Supervisor',
 'Truck Driver',
 'Rn',
 'Office Manager',
 'Sales',
 'General Manager',
 'Project Manager',
 'Owner',
 'Director',
 'Operations Manager',
 'Sales Manager',
 'Police Officer',
 'Nurse',
 'Technician',
 'Engineer',
 'Administrative Assistant']

In [0]:
emp_title_list.count('Teacher')

1

In [0]:
#testing code
test_emp_title = ['Teacher', 'Sales', 'Administrative Assistant', 'Unknown']

In [0]:
def change_title(title):
  if emp_title_list.count(title):
    return title
  else:
    return 'Other'

In [0]:
[change_title(emp_title) for emp_title in test_emp_title]

['Teacher', 'Sales', 'Administrative Assistant', 'Other']

In [0]:
#apply to data frame
df['emp_title_cleaned']=df['emp_title'].apply(change_title)

In [0]:
df[['emp_title', 'emp_title_cleaned']].head(10)

                 emp_title emp_title_cleaned
0                  Manager           Manager
1      Maintenance Manager             Other
2              Firefighter             Other
3               Controller             Other
4  Paramedic/ Fire Fighter             Other
5               Consultant             Other
6               Supervisor        Supervisor
7                  Unknown             Other
8     Warehouse Associates             Other
9  Director Of Reinsurance             Other

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01